/* Base styling import */
@import './base.css';

/* font loading */
/* 
use: src: url( this is where you place url for fonts
how: host font file in imagekit
*/
@font-face {
  font-family: 'maveric';
  src: url('https://ik.imagekit.io/invimgs0101/mcinvt/fonts/Maveric%20Demo_xI5B1VGg6.otf?updatedAt=1718404468462')
    format('opentype');
  font-display: swap;
}

/* ID Fonts */
/* 
 use: in element place id="mavFont"
 */
#mavFont {
  font-family: 'maveric', 'Times New Roman', sans-serif !important;
  /* font props can be added here */
}
